body{
  background-color:black;
  height:100%;

}
#main{
    height: 100%;
    width: 100%;
    display: table;
}

#game{
  position: relative;
  display: table-cell;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  vertical-align: middle;
}

#debugBox{
  text-align: center;
  width: 100px;
  position: absolute;
  top:1px;
  right: 0px;
  color: #2cfa1f;
  border: solid 1px #2cfa1f;
  border-radius: 10px;
  font-size: 12px;
  background-color: rgba(44,250,31, 0.3);
  visibility: hidden;
}

#chat{
  position:absolute;
  left: 1px;
  bottom: 1px;
}
#chat input[type="text"]{
  width:250px;
  background-color: rgba(44,250,31, 0.3);
  border-color: rgba(44,250,31, 0.6);
  color:#7FFF00;
}

#chat input[type="submit"]{
  width:50px;
  background-color: rgba(44,250,31, 0.3);
  border-color: rgba(44,250,31, 0.6);
  color:#7FFF00;
  border-radius:4px;
}

#messages{
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  overflow-y: auto;
  font-size:10px;
  width:300px;
  height: 150px;
  position:absolute;
  left: 1px;
  bottom: 26px;
  color:#7FFF00;
  background-color: rgba(44,250,31, 0.3);
  border: solid 2px rgba(44,250,31, 0.6);
  border-radius:4px;
}

#messages scroll{
  background-color:green;
}


#debugBox p{
  margin: 1px;
  padding: 1px;
}

#debugBox h4{
  color: #2cfa1f;
  padding: 0px;
  margin: 0px;
  border-bottom: solid 1px #2cfa1f;
}

#game canvas{
  cursor: url(../images/crosshair.png), auto;
}
